aside{
    height: 85%;
    position: fixed;
    left: 0;
    top: 5rem;
    width: 23%;
    background-color: #606060;
    border: 1px solid #101010;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    
  }

  .imgbg {
    height: 235px;
    width: 200px;
  }
  
  .imgper {
    height: 200px;
    width: auto;
    vertical-align: middle;
    margin-top: -18rem;
  }
  
  .imgs {
    margin: 2rem;
  }
  
  .edad {
    margin-left: 25px;
    margin-top: 1px;
}

.iconsus {
  margin: 0;
  height: 17px;
  width: 17px;
  margin-top: 2px;
}

.iconsid, .iconsl, .iconsh {
  margin: 0;
  margin-top: 2px;
}

.iconsid, .iconsl {
  height: 20px;
  width: 20px;
}

.iconsh {
  height: 17px;
  width: 17px;
}

.info {
  margin: 2rem;
  margin-top: -3rem;
}

.datosp {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
}



